* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 15px;
}
.main_content {
  background: url(/assets/images/alfa-romeo-giulia-gta-m-coupe-4k-zd.jpg);
  height: 100vh;
  background-size: cover;
  box-shadow: 615px 10px 75px 0px rgba(0, 0, 0, 0.56) inset;
  position: relative;
}
.headerwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerwrap img {
  width: 300px;
}
.btn {
  background-color: #de0e0b;
  padding: 20px 50px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.main__title img {
  width: 300px;
  position: absolute;
  top: -160px;
}
.main__title {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.main__title h1 {
  color: #fff;
  font-size: 60px;
  margin: 20px 0px;
}
.main__title p {
  color: #adadad;
  margin-bottom: 20px;
}
.main__title a {
  text-decoration: none;
  color: #de0e0b;
  font-size: 20px;
}
.introwrap {
  background: url(/assets/images/Union\ 1.png);
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0px;
}
.introwrap img {
  width: 742px;
  /* object-fit: scale-down; */
  border-radius: 30px;
  object-fit: cover;
}
.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro__content a {
  text-decoration: none;
  color: #de0e0b;
}
.intro__content h3 {
  font-size: 60px;
}
.interior {
  background: url(/assets/images/interior.jpg);
  background-repeat: no-repeat;
  background-position: right;
}
.interior__images img {
  width: 300px;
}
.interiorwrap {
  position: relative;
  display: flex;
  height: 45vh;
}
.interior__btn img {
  width: 200px;
  object-fit: cover;
}
.engine {
  position: relative;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 1) 65%,
    hsla(0, 0%, 0%, 1) 67%
  );
}
.engine-background {
  position: absolute;
  top: 42%;
  left: -360px;
}
.engine__left img {
  width: 500px;
}
.enginewrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 165px 0px;
}
.main_footer {
  margin-top: 200px;
}
.footer_img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}
.footerwrap {
  display: flex;
  justify-content: space-evenly;
}
.footer__contact {
  background: #000;
  display: flex;
  flex-direction: column;
  width: 670px;
  height: 616px;
  justify-content: space-evenly;
  align-items: center;
}
.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact p {
  color: #fff;
}
.inputs {
  display: flex;
  align-items: center;
}
.h6 {
  background-color: #de0e0b;
  color: #fff;
  font-size: 40px;
  padding: 18px 30px;
}
.phone__logo {
  display: flex;
  align-items: center;
}
.footer_content h4 {
  font-size: 70px;
  margin-bottom: 20px;
}

.icons img {
  margin-right: 50px;
  margin-bottom: 50px;
}
.footer__icons p {
  font-size: 20px;
  color: #adadad;
}
